div .size20{
    font-size: 20px;
}

div .size24{
    font-size: 24px;
}

div .size26{
    font-size: 26px;
}

div .size28{
    font-size: 28px;
}

div .size30{
    font-size: 30px;
}

div .size32{
    font-size: 32px;
}

div .size36{
    font-size: 36px;
}

div .sizesmaller{
    font-size: smaller;
}

div .centered{
    text-align: center;
}

span .red{
    color: red;
}

span .blue{
    color: blue;
}