div .size20{
    font-size: 20px;
}

div .size24{
    font-size: 24px;
}

div .size28{
    font-size: 28px;
}

div .size32{
    font-size: 28px;
}

div .size36{
    font-size: 36px;
}


div .sizesmaller{
    font-size: smaller;
}